
/* Basic styling for the images */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px auto;
  width: 100%;
  
}

.gallery img {
  width: 24%;
  height: 588px;
  object-fit: cover; /* Maintain aspect ratio */
  margin-bottom: 10px;
}
